<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="menu">


    <ul class="nav nav-list" id="menus">
        <li class="active">
            <a th:onclick="'javascript:refreshToDemo(\'index\')' ">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
								特性列表
							</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:onclick="'javascript:refresh(\'../myDemo/impPage\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        上传下载文件
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a th:onclick="'javascript:refresh(\'../myDemo/autoFomPage\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        自动表单
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a th:onclick="'javascript:refresh(\'../myDemo/demo\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        页面排版及分页模式
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>


        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">
								UI &amp; Elements
							</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>

                        Layouts
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a th:onclick="'javascript:refreshToDemo(\'top-menu\')' ">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Top Menu
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a th:onclick="'javascript:refreshToDemo(\'two-menu-1\')' ">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Two Menus 1
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a th:onclick="'javascript:refreshToDemo(\'two-menu-2\')' ">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Two Menus 2
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a th:onclick="'javascript:refreshToDemo(\'mobile-menu-1\')' ">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Default Mobile Menu
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a th:onclick="'javascript:refreshToDemo(\'mobile-menu-2\')' ">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Mobile Menu 2
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a th:onclick="'javascript:refreshToDemo(\'mobile-menu-3\')' ">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Mobile Menu 3
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'typography\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Typography
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'elements\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Elements
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'buttons\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Buttons &amp; Icons
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'content-slider\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Content Sliders
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'treeview\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Treeview
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'jquery-ui\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        jQuery UI
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'nestable-list\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Nestable Lists
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>

                        Three Level Menu
                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-leaf green"></i>
                                Item #1
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-pencil orange"></i>

                                4th level
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="#">
                                        <i class="menu-icon fa fa-plus purple"></i>
                                        Add Product
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="#">
                                        <i class="menu-icon fa fa-eye pink"></i>
                                        View Products
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> Tables </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'tables\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Simple &amp; Dynamic
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'jqgrid\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        jqGrid plugin
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> Forms </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'form-elements\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Form Elements
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'form-elements-2\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Form Elements 2
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'form-wizard\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Wizard &amp; Validation
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'wysiwyg\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Wysiwyg &amp; Markdown
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'dropzone\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Dropzone File Upload
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a th:onclick="'javascript:refreshToDemo(\'widgets\')' ">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> Widgets </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a th:onclick="'javascript:refreshToDemo(\'calendar\')' ">
                <i class="menu-icon fa fa-calendar"></i>

                <span class="menu-text">
								Calendar

								<span class="badge badge-transparent tooltip-error" title="2 Important Events">
									<i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
								</span>
							</span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a th:onclick="'javascript:refreshToDemo(\'gallery\')' ">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Gallery </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> More Pages </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'profile\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        User Profile
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'inbox\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Inbox
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'pricing\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Pricing Tables
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'invoice\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Invoice
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'timeline\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Timeline
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'search\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Search Results
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'email\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Email Templates
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'login\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Login &amp; Register
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-file-o"></i>

                <span class="menu-text">
								Other Pages

								<span class="badge badge-primary">5</span>
							</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'faq\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        FAQ
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'error-404\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Error 404
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'error-500\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Error 500
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'grid\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Grid
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a th:onclick="'javascript:refreshToDemo(\'blank\')' ">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Blank Page
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul><!-- /.nav-list -->


    <script th:inline="javascript">
        /**
         * 约束菜单层级不超过3层
         */
        $(function () {
            if ('true'==[[${IS_SSO_MENUS}]]) {
                $.ajax({
                    url: "../indexPage/menus",
                    dataType: "json",
                    success: function (data) {
                        console.info(data)
                        var secondLevel = 999;
                        var htmlbegin = "<li class=\"\">"
                        for (var i = 0; i < data.Result.resourceList.length; i++) {
                            if (secondLevel > data.Result.resourceList[i].resLevel) {
                                secondLevel = data.Result.resourceList[i].resLevel;
                            }
                        }
                        secondLevel = secondLevel + 1;
                        /**
                         * level 1
                         *
                         *             <a th:onclick="'javascript:refreshToDemo(\'index\')' ">

                         */
                        for (var i = 0; i < data.Result.resourceList.length; i++) {
                            if (secondLevel == data.Result.resourceList[i].resLevel) {
                                var downstatus = false;
                                for (var t = 0; t < data.Result.resourceList.length; t++) {
                                    if (data.Result.resourceList[i].resid == data.Result.resourceList[t].pid) {
                                        downstatus = true;
                                    }
                                }
                                var html = " <li class=\"\">\n";
                                if (downstatus) {
                                    html += "<a href=\"#\" class=\"dropdown-toggle\">";
                                } else {
                                    html += "<a onclick=\"javascript:refresh('../" + data.Result.resourceList[i].url + "')\">";
                                }
                                html += "<i class=\"menu-icon fa fa-desktop\"></i><span class=\"menu-text\">\n" + data.Result.resourceList[i].resname + "</span>";
                                if (downstatus) {
                                    html += "<b class=\"arrow fa fa-angle-down\"></b>";
                                }
                                html += "</a><b class=\"arrow\"></b>";
                                if (downstatus) {
                                    html_j = "";
                                    for (var j = 0; j < data.Result.resourceList.length; j++) {
                                        if ((secondLevel + 1) == data.Result.resourceList[j].resLevel && data.Result.resourceList[i].resid == data.Result.resourceList[j].pid) {
                                            if (html_j == "") {
                                                html_j += "<ul class=\"submenu\"><li class=\"\">";
                                            }
                                            var downstatus_2 = false;
                                            for (var t = 0; t < data.Result.resourceList.length; t++) {
                                                if (data.Result.resourceList[j].resid == data.Result.resourceList[t].pid) {
                                                    downstatus_2 = true;
                                                }
                                            }
                                            if (downstatus_2) {
                                                html_j += "<a href=\"#\" class=\"dropdown-toggle\"> ";
                                            } else {
                                                html_j += "<a onclick=\"javascript:refresh('../" + data.Result.resourceList[j].url + "')\">";
                                            }
                                            html_j += "<i class=\"menu-icon fa fa-caret-right\"></i>\n" + data.Result.resourceList[j].resname;
                                            if (downstatus_2) {
                                                html_j += "<b class=\"arrow fa fa-angle-down\"></b>";
                                            }
                                            html_j += "</a><b class=\"arrow\"></b>";
                                            if (downstatus_2) {
                                                html_k = "";
                                                for (var k = 0; k < data.Result.resourceList.length; k++) {
                                                    if ((secondLevel + 2) == data.Result.resourceList[k].resLevel && data.Result.resourceList[j].resid == data.Result.resourceList[k].pid) {
                                                        if (html_k == "") {
                                                            html_k += "<ul class=\"submenu\"><li class=\"\">";
                                                        }
                                                        html_k += "<a onclick=\"javascript:refresh('../" + data.Result.resourceList[k].url + "')\"> <i class=\"menu-icon fa fa-caret-right\"></i>\n" + data.Result.resourceList[k].resname;
                                                        html_k += "</a><b class=\"arrow\"></b>";
                                                    }
                                                }
                                                if (html_k != "") {
                                                    html_k += "</li></ul>";
                                                }
                                                html_j += html_k;
                                            }

                                        }
                                    }
                                    if (html_j != "") {
                                        html_j += "</li></ul>";
                                    }
                                    html += html_j;
                                }
                                html += "</li>";
                                console.info(html);
                                $('#menus').append(html);
                            }

                        }
                    }
                });
            }
        });


    </script>


</div>


</html>
