<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<!-- 上传公用插件 -->
<div th:fragment="uploadFile(title,url)">
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >
                        <span th:text="${title}"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <input id="uploadFileKit" name="file" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        $(function () {
            $("#uploadFileKit").fileinput();
        });
        // 上传附件
        $("#uploadFileKit").fileinput({
            language: 'zh',                                          // 多语言设置，需要引入local中相应的js，例如locales/zh.js
            theme: "explorer",                               // 主题
            uploadUrl: [[${url}]],         // 上传地址
            minFileCount: 1,                                        // 最小上传数量
            maxFileCount: 5,                                        // 最大上传数量
            overwriteInitial: false,                        // 覆盖初始预览内容和标题设置
            showCancel: false,                                       // 显示取消按钮
            showZoom: false,                                         // 显示预览按钮
            showCaption: false,                                  // 显示文件文本框
            dropZoneEnabled: false,                          // 是否可拖拽
            uploadLabel: "开始上传",                         // 上传按钮内容
            browseLabel: '选择附件',                            // 浏览按钮内容
            showRemove: false,                                       // 显示移除按钮
            browseClass: "layui-btn",                        // 浏览按钮样式
            uploadClass: "layui-btn",                        // 上传按钮样式
            // uploadExtraData: {'taskId': taskId, 'createBy': userId, 'createByname': username},   // 上传数据
            hideThumbnailContent: true,                  // 是否隐藏文件内容
            fileActionSettings: {                               // 在预览窗口中为新选择的文件缩略图设置文件操作的对象配置
                showRemove: true,                                   // 显示删除按钮
                showUpload: true,                                   // 显示上传按钮
                showDownload: false,                            // 显示下载按钮
                showZoom: false,                                    // 显示预览按钮
                showDrag: false,                                        // 显示拖拽
                removeIcon: '<i class="fa fa-trash"></i>',   // 删除图标
                uploadIcon: '<i class="fa fa-upload"></i>',     // 上传图标
                uploadRetryIcon: '<i class="fa fa-repeat"></i>'  // 重试图标
            }
        }).on("fileuploaded", function(event, data) {
            fileInputMsg(data);
        });

        function fileInputMsg(data){
            alert(data.response.msg)
        }
    </script>

</div>

</html>